<!DOCTYPE html>
<html lang="en" ng-app>
  	<head> 
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<link rel="shortcut icon" href="http://grafikk.ukm.no/favicon.ico" />
		
		<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,300' type='text/css'>		
		{% stylesheets '@UKMDesignBundle/Resources/public/css/bootstrap.css' %}
		    <link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
		{% block css %}{% endblock %}

		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script> 
		{% if isMobile is defined and isMobile == true %}
        <style type="text/css"> 
            body {
                overflow-y: scroll; /* has to be scroll, not auto */
                -webkit-overflow-scrolling: touch;
            }
        </style>
        {% endif %}
		<style type="text/css">{% block additional_css %}{% endblock %}</style>
		<script type="text/javascript">{% block additional_js %}{% endblock %}</script>
		{% block scripts %}
			{% javascripts 
				'@UKMDesignBundle/Resources/public/js/ukmdesignbundle.js'
				'@UKMDesignBundle/Resources/public/js/h5validate.jquery.js'
				'@UKMDesignBundle/Resources/public/js/autogrow.jquery.js'
				 %}
		    	<script src="{{ asset_url }}"></script> 
			{% endjavascripts %}
		{% endblock %}
		<title>Delta på UKM</title>
	</head>
	<body>
	{# FACEBOOK #}
	<div id="fb-root"></div>
	{% block header_pre %}{% endblock %}
	<header class="navbar navbar-static-top navbar-default" id="top" role="banner">
		{% block header %}
		<div class="container">
			{% block navbar %}		
				{% block navbar_button %}
				<button type="button" class="pull-right navbar-toggle hidden-md hidden-lg" data-action="show" data-toggle="#ukm_mobile_nav" data-toggletitle="Hovedmeny" data-toggleclose="Lukk hovedmeny" data-showJumboUKM="true" id="show_main_mobile_menu">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				{% endblock %}
				{% block navbar_logo %}
					<div class="navbar-header">
						<a href="/" class="navbar-brand">
							<img src="http://grafikk.ukm.no/profil/logo/UKM_logo.png" width="70" />
						</a>
					</div>
				
				{% endblock %}
				<nav role="navigation">
					{% block navbar_nav_left %}
					<ul class="nav navbar-nav hidden-xs hidden-sm">
{#
						{% for nav in nav_top %}
						<li {{nav.active?'class="active"':''}}><a href="{{nav.url}}">{{nav.title}}</a></li>
						{% endfor %}
#}					</ul>
					{% endblock %}
					{# {% block navbar_english %}
						<div class="pull-right hidden-xs hidden-sm">
							<a href="//ukm.no/about/">
								<img src="http://ico.ukm.no/flagg/uk-16.png" class="img img-circle" id="ico_international" />
							</a>
						</div>
					{% endblock %} #}
					{% block navbar_right %}
					<ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
{#
						{% for nav in nav_top_right %}
						<li {{nav.active?'class="active"':''}}><a href="{{nav.url}}">{{nav.title}}</a></li>
						{% endfor %}
#}
					</ul>
				</nav>
				{% endblock %}
			{% endblock %}
		</div>
		{% endblock %}
	</header>
	
	{% block header_post %}
	{% endblock %}
	
	
	
	{% block jumbo_pre %}
	{% endblock %}
		
	<div class="row">
		{% block jumbo %}
			{% embed "UKMDesignBundle::no_jumbo.html.twig" %}{% endembed %}
		{% endblock %}
	</div>

	{% block jumbo_post %}
	{% endblock %}
	<div class="container" id="page_load_loader" style="display:none;">
		<div class="col-xs-12">
			<div align="center">
				<img src="//ico.ukm.no/loading.gif" style="max-width:100%;" />
				<h3 align="center">Laster inn...</h3>
			</div>
		</div>
	</div>
	<div id="page_load_content">
		{% block content_container_pre %}
		{% endblock %}
	
		{% block content_container %}
		<div class="row">
			<div id="pagecontent">
				{# SIDEINNHOLD #}
			  	<div id="ukm_page_pre_content" class="container" style="display:none"></div>
			  	<div class="clearfix"></div>
			  	<div id="ukm_page_content" class="container">
				  	{% block content_pre %}{% endblock %}
				  	{% block content %}{% endblock %}
				  	{% block post_content %}{% endblock %}
				  	<div class="clearfix"></div>
			  	</div>
			  	<div class="clearfix"></div>
			  	<div id="ukm_page_post_content" class="container" style="display:none">
			  		{% block xs_menu_content %}{% endblock %}
				  	<button id="pageDeFocus" class="btn btn-block btn-success"></button>
				  	<div class="clearfix"></div>
			  	</div>
			  	<div class="clearfix"></div>
			</div>
		{# EO SIDEINNHOLD #}
		</div>
		{% endblock %}
		
		{% block content_container_post %}
		{% endblock %}
		<p>&nbsp;</p>
	</div>
	
	{% if nav is defined %}
	<div class="row">
	  	<div id="ukm_mobile_nav" style="display:none">
			{% for nav in nav_top %}
				<a class="btn btn-block btn-default {{nav.active?'active':''}}" href="{{nav.url}}">UKM {{nav.title}}</a>
			{% endfor %}
			{% for nav in nav_top_right %}
				<a class="btn btn-block btn-default {{nav.active?'active':''}}" href="{{nav.url}}">UKM {{nav.title}}</a>
			{% endfor %}
			<a class="btn btn-block btn-default {{nav.active?'active':''}}" href="//ukm.no/about">English</a>
	  	</div>
	  	<div class="clearfix"></div>
  	</div>
  	{% endif %}
  </body>
</html>
