{% extends "MinPRBundle::layout.html.twig" %}

{% block content %}
	<h1>Presse-innhold for {{ avis.getName() }}</h1>
	<p>
		<b>All informasjonen på denne siden er tilknyttet ditt registrerte nedslagsfelt:</b>
		
		{% for kommune in avis.getNedslagsfelt() %}
			{{ kommune.getNavn() }}{{ loop.last ? '.' : ', '}}
		{% else %}
			Vi har ikke registrert noen kommuner til ditt nedslagsfelt.
		{% endfor %}
		<a href="mailto:support@ukm.no?subject=MinPressemelding">Feil nedslagsfelt? Send oss en e-post</a>
	</p>
	
	<h2>UKM-festivalen <small>{{ festivalen.get('pl_start')|dato("d.M") }} - {{ festivalen.get('pl_stop')|dato("d.M Y") }}</small></h2>
	
	<h3></h3>
	<ol class="list-unstyled">
		{% for innslag in mine_innslag %}
			<li class="well card">
				<div class="pull-right" style="opacity: 0.65">
					{{ innslag.getKommune().getNavn() }}
				</div>
				<h3 style="margin-top: 2px;margin-left:4px;">
					{{ innslag.getNavn() }} 
					<small>
						{{ innslag.getType().getNavn() }}
						{% if not innslag.getType().harTitler() %}
						{{ innslag.getPersoner().getSingle().getInstrument() }}
						- 
						{{ innslag.getPersoner().getSingle().getAlder() }}
						{% endif %}
					</small>
				</h3>
				<div class="clearfix"></div>
				<div class="col-xs-12">
					{{ innslag.getBeskrivelse() }}
				</div>
				{% if innslag.getType().harTitler() %}
					<div class="clearfix"></div>
					<div class="col-xs-12">
						<p></p>
						<p>
							{% for person in innslag.getPersoner().getAll() %}
								<b>{{ person.getNavn() }}</b>
								({{ person.getInstrument() }} - {{ person.getAlder() }}){{ loop.last ? '' : ', '}}
							{% endfor %}
						</p>
					</div>
				{% endif %}
				
				<hr />
				
				<div class="clearfix"></div>
				{% if innslag.getType().harFilmer() %}
					<div class="col-xs-12 col-md-6">
						{% embed "MinPRBundle:Bilder:bilder_av_innslag.html.twig" with {'innslag': innslag} %}{% endembed %}
					</div>
		
					<div class="col-xs-12 col-md-6">
						{% embed "MinPRBundle:Filmer:filmer_av_innslag.html.twig" with {'innslag': innslag} %}{% endembed %}
					</div>
				{% else %}
					<div class="col-xs-12 col-md-6">
						{% embed "MinPRBundle:Bilder:bilder_av_innslag.html.twig" with {'innslag': innslag} %}{% endembed %}
					</div>				
				{% endif %}

				<div class="clearfix"></div>
			</li>
		{% else %}
			<li>Ingen deltakere fra ditt registrerte nedslagsfelt deltar på UKM-festivalen i år</li>
		{% endfor %}
	</ol>
	
{% endblock %}