{% extends "MinPRBundle::layout.html.twig" %}

{% block content %}
	<h1>Presse-innhold for {{ avis.getName() }}</h1>
	<p>
		<b>All informasjonen p책 denne siden er tilknyttet ditt registrerte nedslagsfelt:</b>
		
		{% for kommune in avis.getNedslagsfelt() %}
			{{ kommune.getNavn() }}{% if not loop.last %}, {% endif %}
		{% else %}
			Vi har ikke registrert noen kommuner til ditt nedslagsfelt.
		{% endfor %}
	</p>
	
	<h2>UKM-festivalen <small>{{ festivalen.get('pl_start')|dato("d.M") }} - {{ festivalen.get('pl_stop')|dato("d.M Y") }}</small></h2>
	
	<h3></h3>
	<ol class="list-unstyled">
		{% for innslag in mine_innslag %}
			<li class="well card">
				<div class="pull-right" style="opacity: 0.65">
					{{ innslag.getKommune().getNavn() }}
				</div>
				{% if innslag.list_image is defined and innslag.list_image is not empty %}
					<img src="http://placehold.it/100x100" class="pull-left" />
				{% endif %}
				<h4>
					{{ innslag.getNavn() }} 
					<small>
						{{ innslag.getType().getNavn() }}
						{% if not innslag.getType().harTitler() %}
						{{ innslag.getPersoner().getSingle().getInstrument() }}
						- 
						{{ innslag.getPersoner().getSingle().getAlder() }}
						{% endif %}
					</small>
				</h4>
				<div class="clearfix"></div>
				<div class="col-xs-12">
					{{ innslag.getBeskrivelse() }}
				</div>
				
				<div class="clearfix"></div>
				{% if innslag.getType().harFilmer() %}
					<div class="col-xs-12 col-md-6">
						{% embed "MinPRBundle:Bilder:bilder_av_innslag.html.twig" with {'innslag': innslag} %}{% endembed %}
					</div>
		
					<div class="col-xs-12 col-md-6">
						{% embed "MinPRBundle:Filmer:filmer_av_innslag.html.twig" with {'innslag': innslag} %}{% endembed %}
					</div>
				{% else %}
					<div class="col-xs-12 col-md-6">
						{% embed "MinPRBundle:Bilder:bilder_av_innslag.html.twig" with {'innslag': innslag} %}{% endembed %}
					</div>				
				{% endif %}

				<div class="clearfix"></div>
				
				{% if innslag.getType().harTitler() %}
					<h5>{{ innslag.getNavn() }} best책r av </h5>
					{% for person in innslag.getPersoner().getAll() %}
						{{ person.getNavn() }}
						({{ person.getInstrument() }} - {{ person.getAlder() }}){{ loop.last ? '' : ', '}}
					{% endfor %}
				{% endif %}

			</li>
		{% else %}
			<li>Ingen deltakere fra ditt registrerte nedslagsfelt deltar p책 UKM-festivalen i 책r</li>
		{% endfor %}
	</ol>
	
{% endblock %}