{% extends "MinPRBundle::layout.html.twig" %}

{% block css %}
	<style>
		.alignright {
			float: right;
		}
		.alignleft {
			float: left;
		}
		.aligncenter {
			float: center;
		}
		img {
			max-width: 100%;
			height: auto;
		}
		.pressekontakt-data,
		.pressekontakt-image {
			float: left;
		}

		@media(min-width: 768px) {
			.pressekontakt-data,
			.pressekontakt-image {
				float: right;
				text-align: right;
			}
		}
	</style>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-8">
				<h1>Presse-innhold for
					{{ avis.getName() }}</h1>
				<p class="lead">Alt innhold kan brukes fritt så lenge det krediteres UKM Media</p>
				<div class="clearfix"></div>
			</div>
			<div class="col-12 col-sm-4">
				<h1></h1>
				<p>
					<b>Informasjon fra ditt registrerte nedslagsfelt:</b>

					{% for kommune in avis.getNedslagsfelt() %}
						{{ kommune.getNavn() }}{{ loop.last ? '.' : ', '}}
					{% else %}
						Vi har ikke registrert noen kommuner til ditt nedslagsfelt.
					{% endfor %}
					<br/>
					<a href="mailto:support@ukm.no?subject=MinPressemelding">Feil nedslagsfelt? Send oss en e-post</a>
				</p>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>

	{% if vis_festival %}
		{# ###################### FESTIVALEN ####################### #}
		<div class="banner mt-5 mb-4" style="background: #d75d0c; color: #fff;">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-8">
						<h1 class="mt-2 mb-0">
							UKM-festivalen
						</h1>
						<p class="lead">
							{{ land.monstring.getStart()|date("d.M") }}
							-
							{{ land.monstring.getStop()|date("d.M Y") }}
						</p>
						<p>
							Informasjon oppdateres fortløpende gjennom arrangementet.
							<br/>
							Bilder og filmer av alle deltakere tilgjengeliggjøres kort tid etter deres opptredener.
						</p>
					</div>
					<div class="col-12 col-sm-4">
						<div class="well card p-2 my-2" style="color: rgba(0,0,0, 0.85);">
							{% embed "MinPRBundle::pressekontakt.html.twig" %}{% endembed %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="clearfix"></div>
					{% embed "MinPRBundle:Hjem:monstring.html.twig" with {'monstring': land, 'mediegrupper': land.mediegrupper } %}{% endembed %}
				</div>
			</div>
		</div>
	{% endif %}

	{# ###################### FYLKESMØNSTRING ####################### #}
	{% for arrangement in omrade.getArrangementer(sesong).getAll() %}
		<div class="banner mt-5 mb-4" style="background: #d75d0c; color: #fff;">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-8">
						<h1 class="mt-2 mb-0">
							{{ arrangement.getNavn() }}
						</h1>
						<p class="lead">
							{{ arrangement.getStart()|date("d.M") }}
							-
							{{ arrangement.getStop()|date("d.M Y") }}
						</p>
						<p>
							Informasjon oppdateres fortløpende gjennom arrangementet.
							<br/>
							Bilder og filmer av alle deltakere tilgjengeliggjøres kort tid etter deres opptredener.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="clearfix"></div>

					{% embed "MinPRBundle:Hjem:monstring.html.twig" with {'arrangement': arrangement } %}{% endembed %}

				</div>
			</div>

		</div>
	{% else %}
		<p>Beklager, vi fant ingen arrangement for 
			{{ omrade.getNavn() }}</p>
	{% endfor %}
{% endblock %}
