{% extends "MinPRBundle::layout.html.twig" %}

{% block content %}
	<h1>Presse-innhold for {{ avis.getName() }}</h1>
	<p>
		<b>All informasjonen på denne siden er tilknyttet ditt registrerte nedslagsfelt:</b>
		
		{% for kommune in avis.getNedslagsfelt() %}
			{{ kommune.getNavn() }}{{ loop.last ? '.' : ', '}}
		{% else %}
			Vi har ikke registrert noen kommuner til ditt nedslagsfelt.
		{% endfor %}
		<a href="mailto:support@ukm.no?subject=MinPressemelding">Feil nedslagsfelt? Send oss en e-post</a>
	</p>
	
	<p>Alt innhold på denne siden kan brukes fritt så lenge det krediteres UKM Media</p>
	
	<h2>UKM-festivalen <small>{{ monstring.getStart()|date("d.M") }} - {{ monstring.getStop()|date("d.M Y") }}</small></h2>
	<div class="col-xs-12">
		<div class="alert alert-info">
			Informasjon om deltakerne <b>oppdateres fortløpende</b> gjennom arrangementet, 
			og det vil bli tilgjengeliggjort bilder og filmer av alle innslag kort tid etter deres opptredener
		</div>
		
		<h3>Direktesending (livestream)</h3>
		<p>
			Vi sender direkte fra {{ monstring.getNavn() }}. Dette kan bygges inn på din nettside. 
			<a href="{{ url('min_pr_live', {'avis': avis.getId(), 'pl_id': monstring.getId() }) }}">Les mer her</a>
		</p>
	
		<h3>Innslag fra ditt nedslagsfelt</h3>
		<ol class="list-unstyled">
			{% for innslag in mine_innslag %}
				<li class="well card">
					<div class="pull-right" style="opacity: 0.65">
						{{ innslag.getKommune().getNavn() }}
					</div>
					<h3 style="margin-top: 2px;margin-left:4px;">
						{{ innslag.getNavn() }} 
						<small>
							{{ innslag.getType().getNavn() }}
							{% if not innslag.getType().harTitler() %}
							{{ innslag.getPersoner().getSingle().getInstrument() }}
							- 
							{{ innslag.getPersoner().getSingle().getAlder() }}
							{% endif %}
						</small>
					</h3>
					<div class="clearfix"></div>
					<div class="col-xs-12">
						{{ innslag.getBeskrivelse() }}
					</div>
					{% if innslag.getType().harTitler() %}
						<div class="clearfix"></div>
						<div class="col-xs-12">
							<p></p>
							<p>
								{% for person in innslag.getPersoner().getAll() %}
									<b>{{ person.getNavn() }}</b>
									({{ person.getInstrument() }} - {{ person.getAlder() }}){{ loop.last ? '' : ', '}}
								{% endfor %}
							</p>
						</div>
					{% endif %}
					
					<hr />
					
					<div class="clearfix"></div>
					{% if innslag.getType().harFilmer() %}
						<div class="col-xs-12 col-md-6">
							{% embed "MinPRBundle:Bilder:bilder_av_innslag.html.twig" with {'innslag': innslag} %}{% endembed %}
						</div>
			
						<div class="col-xs-12 col-md-6">
							{% embed "MinPRBundle:Filmer:filmer_av_innslag.html.twig" with {'innslag': innslag} %}{% endembed %}
						</div>
					{% else %}
						<div class="col-xs-12 col-md-6">
							{% embed "MinPRBundle:Bilder:bilder_av_innslag.html.twig" with {'innslag': innslag} %}{% endembed %}
						</div>				
					{% endif %}
					<div class="clearfix"></div>
					
					<div class="col-xs-12">
						{% embed "MinPRBundle:Program:program_liste.html.twig" with {'innslag': innslag } %}{% endembed %}
					</div>
	
					<div class="clearfix"></div>
				</li>
			{% else %}
				<li>Ingen deltakere fra ditt registrerte nedslagsfelt deltar på {{ monstring.getNavn() }} i år</li>
			{% endfor %}
		</ol>
	</div>		
{% endblock %}