{% extends "MinPRBundle::layout.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Direktesending av {{ monstring.getNavn() }}</h1>
			
				{% if embed_code is not empty %}
					<p class="lead">Hvis du ønsker det kan du embedde (bygge inn) direktesendingen på din nettside</p>
					
					<b>Du må:</b>
					<ul>
						<li>registrere inn og betale egen Tono og NCB-avgift for å bygge inn denne på din nettside.</li>
					</ul>
					
					<pre>{{ embed_code }}</pre>
					
					<p>
						<em>
							Det er også mulig å bygge inn videoklipp fra UKM-TV, hvor Tono og NCB-avgift er betalt av UKM Norge. 
							Disse finner du i oversikten for <a href="{{ url('min_pr_mypage', {'id': avis.getId() }) }}">ditt nedslagsfelt</a>
						</em>
					</p>
		
					{% if live_link is not empty %}
						<p>
							Direktesending kan ses på denne lenken
							<a href="{{ live_link }}" target="_blank">{{ live_link }}</a> som det kan lenkes til fritt.
						</p>
					{% endif %}
		
				{% else %}
					<div class="alert alert-danger">
						Direktesending er dessverre ikke tilgjengelig for innebygging på {{ monstring.getNavn() }}
					</div>
				{% endif %}
							
				<div class="clearfix"></div>
				<p class="mt-4">
					<a href="{{ url('min_pr_mypage', {'id': avis.getId() }) }}">Tilbake til ditt nedslagsfelt</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}